
#offline-resources{
    display: none;
}
.runner-container {
  height: 150px;              
  overflow: hidden;
  position: absolute;
  top: 25px;
  width: 44px;
  z-index: 2;
}
.controller {
  background: rgba(247,247,247, .1);
  height: 100vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 100vw;
  z-index: 1;
}
#options {
  position: absolute;
  top: 250px;
  left: 50px;
  display: flex;
  align-items: center;
  z-index: 5;
}
#options > span {
  margin-left: 10px;
  margin-right: 50px;
}
#botStatus {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
#buttons {
  position: absolute;
  top: 250px;
  right: 50px;
  display: flex;
  align-items: center;
}
